.feed {
  display: grid;
  gap: 3.3rem;

  justify-items: baseline;
  align-content: center;

  .loadMore {
    background: none;
    color: var(--highlight);
    border: none;
    font: inherit;
    cursor: pointer;

    transition: text-shadow 0.2s;
    &:hover, &:focus {
      text-shadow: 0 0 0.1em var(--highlight);
    }
  }
}
